{% extends "layout.html" %} {% block content %}
<div class="p-8 space-y-4">
  <div class="flex items-center justify-between w-full">
    <h1 class="text-xl font-semibold">Events List</h1>
    <a
    href="/admin/events-create"
      class="border rounded-lg border-blue-500 hover:bg-blue-100 font-semibold text-blue-500 py-2 px-4"
    >
      Add New Event
    </a>
  </div>
  <div id="events_container" class="gap-4 grid grid-cols-3"></div>
</div>
<script>
  let isLoading = false;
  window.addEventListener("load", async () => {
    isLoading = true;
    const res = await fetch("/api/events");

    if (res.ok) {
      const data = await res.json();
      isLoading = false;
      const events_container = document.getElementById("events_container");

      data.forEach((element) => {
        const evenContainer = document.createElement("div");
        evenContainer.classList.add(
          "bg-white",
          "border",
          "border-gray-200",
          "rounded-md",
          "text-sm",
          "p-4",
          "space-y-2",
          "w-fit",
          "shadow-sm"
        );
        Object.entries(element).forEach(([key, value]) => {
          const childs = document.createElement("p");
          childs.className = "text-white-200 ";
          if (!["created_at", "id"].includes(key)) {
            childs.textContent = `${key
              .split("_")
              .map((ite) => ite.charAt(0).toUpperCase() + ite.slice(1))
              .join(" ")} : ${value}`;
            evenContainer.appendChild(childs);
          }
        });
        if (events_container) {
          events_container.append(evenContainer);
        }
      });
    }
  });
</script>
{% endblock %}
