{% extends "layout.html" %} {% block content %}
<div class="p-8 space-y-4">
  <h1 class="text-xl font-semibold">Events List</h1>
  <div id="events_container" class="gap-4 grid grid-cols-3"></div>
</div>
<script>
  let isLoading = false;
  window.addEventListener("load", async () => {
    isLoading = true;
    const res = await fetch("/api/events");

    if (res.ok) {
      const data = await res.json();
      isLoading = false;
      const events_container = document.getElementById("events_container");

      data.forEach((element) => {
        const evenContainer = document.createElement("div");
        evenContainer.classList.add(
          "bg-white",
          "border",
          "border-gray-200",
          "rounded-md",
          "text-sm",
          "p-4",
          "space-y-2",
          "w-fit",
          "relative",
          "shadow-sm"
        );
        const buyEle = document.createElement("button");
        buyEle.innerText = "Buy Ticket";

        buyEle.className =
          "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded";

        buyEle.addEventListener("click", async () => {
          window.location.replace('/payment')
        });

        Object.entries(element).forEach(([key, value]) => {
          const childs = document.createElement("p");

          childs.className = "text-white-200 ";
          if (!["created_at", "id"].includes(key)) {
            childs.textContent = `${key
              .split("_")
              .map((ite) => ite.charAt(0).toUpperCase() + ite.slice(1))
              .join(" ")} : ${value}`;
            evenContainer.appendChild(childs);
          }
        });
        evenContainer.append(buyEle);
        if (events_container) {
          events_container.append(evenContainer);
        }
      });
    }
  });
</script>
{% endblock %}
