{% from "components/admin_sidebar.html" import AdminSidebar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Jyinn{% endblock %}</title>

    <!-- Tailwind CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/output.css') }}"
    />
  </head>
  <body
    class="bg-gray-100 font-sans min-h-screen flex {{is_admin and 'flex-row' or 'flex-col'}} h-screen"
  >
    <!-- Navbar -->
    <header class="bg-white">
      {% if is_admin %}
      <!-- templates/admin/sidebar.html -->
      <nav
        class="container d-flex flex-column p-3 space-y-2"
        style="width: 250px"
      >
        <h4 class="text-center mb-4 text-xl font-semibold text-indigo-500">
          Admin Panel
        </h4>

        <ul class="">
          {% for item in [{"name":'Dashboard',"path":'/admin'},{"name":
          'Users',"path":'/admin/users'}, {"name": 'Events',"path":'/admin/events'},
          {"name":'Payments',"path":'/admin/payments'},{"name":
          'Settings',"path":'/admin/settings'},{"name":'Logout',"path":'/logout'}]
          %}
          <li
            class="nav-item px-4 py-2 rounded hover:bg-indigo-500 hover:text-white cursor-pointer"
          >
            <a class="w-full block" href="{{item["path"]}}"> {{item["name"]}} </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      {% else %}

      <!-- Header -->
      <nav
        class="container mx-auto px-4 py-4 flex justify-between items-center"
      >
        <a href="/" class="text-xl font-bold text-indigo-600">Jyinn</a>
        <ul class="flex space-x-4">
          <li><a href="/" class="hover:text-indigo-500">Home</a></li>
          <li><a href="/admin" class="hover:text-indigo-500">Admin</a></li>
          <li><a href="/events" class="hover:text-indigo-500">Events</a></li>
          <li>
            <a href="/register" class="hover:text-indigo-500">Register</a>
          </li>
          <li><a href="/login" class="hover:text-indigo-500">Login</a></li>
          <li>
            <a href="#" class="hover:text-red-500 text-red-400" id="logout"
              >Logout</a
            >
          </li>
        </ul>
      </nav>
      {% endif %}
    </header>

    <!-- Main content -->
    <main class="flex-1 container mx-auto h-full p-4">
      {% block content %}
      <!-- Page-specific content goes here -->
      {% endblock %}
    </main>

    <script>
      document.getElementById("logout").addEventListener("click", () => {
        fetch("/api/logout", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        }).then(() => {
          window.location.href = "/";
        });
      });
    </script>
  </body>
</html>
